
/*********************************** NAV *******************************/



/**** Home ********/
main{
    height: auto;
}

.home {
        background-image:linear-gradient(rgba(39, 39, 39, 0.274), rgba(39, 39, 39, 0.397)),
        url("https://images.unsplash.com/photo-1604798676621-1367601dee73?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80");
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        display: flex;
        justify-content: start;
        align-items: center;
        width: 100%;
        height: auto;
        overflow: hidden;
        padding-top : 30px;
        margin:0px !important; 
        
        
    /* background-color: rgba(238, 238, 238, 0.822); */
    
}
.container {
    max-width: 100% !important;
    position: relative !important;
   
}


/**************** Boards *****************/

        /****   myPage ******/
    .myPage{
        display: flex;
        justify-content: flex-start !important;
        position: absolute;
        height: 100vh;
        width: 100%;
    }



/******* vertiacl nav  ******/

.proj-list{
    width:4% !important;
    text-align: center;
    margin:0 !important;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding:30px 0px !important;
}
.proj-list li{
    
    text-align: center;
    margin-bottom:20px !important;
    background-color: #1c2662;
   
}
.proj-list li .icons2 {
    
    text-align: center;
    padding:15px 0px !important;
    color: #f3f3f3;
    display: inline-block;
    
}
.addProjectbtn{
    text-align: center;
    margin:0 auto;
}

.vert-nav-box{
    width:5% !important;
    margin:0 !important;
   position: relative !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}



.vert-nav-box li .icons{
        margin-top:30px;
        color : #1d2031;
}

.account_img_box{
    border-radius: 50px;
    width:70px;
    height: 70px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.account_img_box img{
    max-width:100%;
}
/******* Board content   ******/


.board{
    margin:0 !important;
    flex-grow: 1;
    overflow: hidden;
}

/******* Error Label  ******/

.error-label{
    position: absolute;
    
    margin:0px !important;
    left: 0;
    
    width: 100vw;
    
    top:0;
    height: 100%;
    background-color: #1f202080;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    opacity: 1;

    animation: mymove2 ;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
}
.errorBtn{
    position: absolute;
    top:0;
    right: 0;
}
.error-label h3{
    

    padding:25px 40px !important;
    margin-top: 20px;
    margin-left: -100px;
    background-color: #fff;
    width:60%;
    word-wrap: break-word;
    text-align: justify;
    z-index: 2;
    animation: mymove ;
    animation-fill-mode: forwards;
    animation-duration: 0.4s;
}

@keyframes mymove {
    from { margin-top: 20px;
        width:10%;
        }
    to { margin-top: 300px;width:60%;
        }
  }

@keyframes mymove2 {
    from {opacity: 0;background-color: #888888ed;
        }
    to { opacity: 1;background-color: #57575769;}
  }










/**************** 404*****************/

.NotFound {
   
     height: 100vh;
     background-color: #eee;
}
.notFound_box { 
    text-align: center;
   width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(255, 94, 0, 0.315);
    color: black;
}
.NotFound h3 {
    padding: 5%;
}

/************* FOOTER *****************/

  main {
      flex: 1 0 auto;
  }

 .page-footer {
     background-color: #1d2031;
 } 
.colmns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 15px;
}
.footer_list {
    text-align: left;
}
.icons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.icons i {
    font-size: 35px;
}
.contact_info {
    display: flex;
    flex-direction: column;
    text-align: right;
    align-items: center;
}
.contact_info i {
    margin-right: 20px;
    margin: 10px 0;
}

.footer-copyright .container {
    text-align: center;
}



/***************************************************************/
/***************************************************************/

/***************** Media Query *************************/
















/************* Foote ****************/
@media screen and (max-width: 426px) {
  .colmns {
      display: flex;
      flex-direction: column;
  }
  .footer_list {
      text-align: center;
  }
}

