




/**********  Add New Project PAGE ***********/


/* INPUT Styling */

#desLabel{
    
    margin-top:8px !important;
    margin-left: 10px !important;
}
  /* label color */
  .input-field label {
    color: #005eed !important;
    padding-left: 6.6% !important;

    }

  /* valid color */
  .input-field input.valid ,.input-field textarea.valid {
    border: 1px solid rgb(8, 180, 59) !important;
    box-shadow: 0 1px 0 0 rgb(8, 180, 59) !important;
  }
  /* invalid color */
  .input-field input.invalid,.input-field textarea.invalid {
    border: 1px solid rgb(255, 23, 73) !important;
    box-shadow: 0 1px 0 0 rgb(255, 23, 73) !important;
  }
  .input-field input.invalid +label ,.input-field textarea.invalid +label {
   color:rgb(255, 23, 73) !important;
   background-color: transparent;
  }
  .input-field input.valid +label ,.input-field textarea.valid +label {
   color:rgb(8, 180, 59) !important;
  }




  .input-field input { 
    width:100% !important;
    margin:0px !important;
    
  }
  .linkSpan{
    margin-top:30px !important;
  }
/**************************************************/




/* Login Page */

.login-form  input{
  border : 1px solid #263238 !important;
  border-radius: 5px;
  height: 40px;
  padding-left: 30px !important;
}
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form  label{
color:#263238 !important;
}

.login-form  input:focus{
  border : 1px solid #263238 !important;
  box-shadow: none !important;

}

/* Confirm Invitation Page */
.confirmContainer{
    width:60% !important;
}

.dividerConfirm{
  margin-bottom: 20px;
}
.invitDes{
  width:80% !important;
  font-size:  120%;
  
  margin:0 auto;
  text-align: center !important;
  line-height: 1.8;
}

.ConfirmBtn{
  padding:0px 35px !important;
 
}

/*   Auth Nav */
.AuthnavLink{
  font-size: 110% !important;
}











/***************************** index page***************************************/

    /* headr */

    
        
        

    .index-header { 
      max-width:100%;
      overflow: hidden;
      position: relative;
      padding : 0px 0;
      
      background: rgb(240, 240, 240);
      height:100vh;
      background-image: linear-gradient(#240b2e8a, #120b1aa2),url('http://localhost:3000/images/wallpaper1.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      display: flex;
      align-items: center;
      justify-content: center;
      
  }
 


  .title-box{
      display: flex;
      flex-direction: column;

      align-items: center;
      width:100;
      z-index: 1;
      color:#fff;
      text-align: center;
      font-size: 120%;
      
  }
  
  .title-box h1{
      
      width:100%;
      margin-bottom:40px;
      font-family: 'Spectral', serif;
      font-weight: 400;
      font-size: 260%;
      
  }

  .title-box p{
      font-family: 'Spectral', serif;
      font-size: 130%;
      margin-bottom: 35px;
      font-weight: bold;
  }


  .btn-explore{
      color:#ffffff; 
      text-decoration: none;
      background-color:#1C9E75;
      padding:15px 30px;
      border-radius: 6px;
      font-size: 110%;
      font-weight: 300;
      text-align: center;
  }
  .btn-explore::before{
      content: '\229A';
      font-size: 120%;
      position: relative;
      left: -8px;
      
  }











  * ************  featuer section *******************/

         .feauture_section{
             display: flex;
             justify-content: space-around;
             padding: 60px 0px !important;
             width:100% !important;
         }


         .Frow{
           padding:60px 0px !important;
         }


        .F-box{
            padding: 40px;
            margin: 0px;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: #2b2b2b;
            width :25%;
        }
        

        
        .big_icon{
            display: block; 
            font-size: 220%;
            color:#ffffff;
            margin-bottom: 20px;
            background-color: #1C9E75;
            height: 85px;
            width: 85px;
            border-radius: 70px;
            padding: 25px;
            text-align: center;
        }


        .box_text{
            margin-top: 35px;
            font-size: 100%;
            font-weight: 300;
            word-spacing: 1px;
            line-height: 1.5;
            
                
        }

        .feauture_section h3{
            font-weight: 500;
            margin-top:10px;
            font-size: 125%;
           
            
        }
        


        
        /* about section */
        


        .contact-section,.blog-section,.about-section{ 
            display: flex;
            width:100%;
            
        }

      


        /*  comman line for both about and blog sections */
        .box-img{ 
            display: block;
            background-image: url('http://localhost:3000/images/aboutImg.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            height: auto;
            width: 50%;
            
            float: left;
        }


        .box-txt{
            width:50%;
            padding: 35px;
            color:  #ffffff;
            line-height: 2;
            float:right; 
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: #1c9e75;
        }

        .box-txt h1{ 
                font-size: 350%;
                font-weight: 500;
                margin-top:15xp;
        }
        .box-txt p{ 
            margin-top:10px;
            font-size: 120%;
            line-height: 1.6;
            
        }

        .box-txt a{
            margin-top :25px;
            width:18%;
            padding:5px 0px;
            text-align: center;
            border:1px solid white;
        }

        .box-txt a::before{
            content: '';
        }